.form {
	display: flex;
	flex-direction: column;
	gap: 20px;
	background-color: #f2efe5;
	padding: 2rem;
	border-radius: 12px;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
	align-self: flex-start;
}

.formBox {
	padding: 1rem;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	background-color: #4c4b4b;
	color: white;
	display: flex;
	flex-direction: column;
	gap: 5px;
	font-size: 1.6rem;
	border-radius: 12px;
}

input {
	padding: 0.8rem;
	border-radius: 12px;
	outline: none;
}


.saveForm,
.closeFormbtn {
	color: black;
	background-color: #b4b4b8;
	padding: 1rem;
	font-size: 1.4rem;
	border: none;
	border-radius: 12px;
	box-shadow: rgba(0, 0, 0, 0.6) 1.95px 1.95px 2.6px;
	transition: all 0.3s;
	cursor: pointer;
	align-self: flex-start;
	
	&:hover {
		color: white;
		background-color: #4c4b4b;
	}
}

.closeFormbtn {
	align-self: flex-end;
	border-radius: 50%;
	font-size: 1.4rem;
	font-weight: bold;
	
}