.summary {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 1rem;
	background-color: #fff;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	border-radius: 12px;
	overflow-wrap: break-word;
	word-wrap: break-word;
}

.correctAnswer {
	color: green;
}

@media only screen and (max-width: 1600px) {
	.summary {
		gap: 8px;
		padding: 0.8rem;
	}
}
