.correctAnswer {
	color: green;
}

.wrongAnswer {
	color: red;
}

.summaryBox {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 2rem;
	width: 50%;
	background-color: #f2efe5;
	border-radius: 12px;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.handleQuestionsBtns {
	display: flex;
	gap: 10px;
	align-self: flex-start;
}

.appContainer {
	display: flex;
	padding: 1rem;
	gap: 100px;
}

.closeSummary {
	align-self: flex-end;
	color: black;
	background-color: #b4b4b8;
	padding: 0.5rem;
	font-size: 1rem;
	border: none;
	border-radius: 50%;
	box-shadow: rgba(0, 0, 0, 0.6) 1.95px 1.95px 2.6px;
	cursor: pointer;
	transition: all 0.3s;

	&:hover {
		color: white;
		background-color: #4c4b4b;
	}
}
