.container {
	padding: 2rem;
}

.correctAnswer {
	color: green;
}

.wrongAnswer {
	color: red;
}

.summaryBox {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 2rem;
	background-color: #f2efe5;
	width: 50%;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
	border-radius: 12px;
}
